@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}


body::before {
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-image: url('./gambar1.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    z-index: -1;
    filter: blur(3px);
}

.container{
    color: rgb(255, 251, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

a{
    color: white;
    text-decoration: none;
    border: 1px solid;
    padding: 10px;
    border-radius: 10px;
    background-color: red;
}

.header{
    text-align: center;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
}

#search {
    width: 100%;
    height: 30px;
    border-radius: 30px;
    text-align: center;
    font-size: 1rem;
    outline: none;
    font-family: "Poppins", sans-serif;
}

#btn-search {
    padding: 10px 20px;
    margin: 10px;
    border-radius: 30px;
    font-family: "Poppins", sans-serif;
    background-color: rgb(252, 255, 96);
    color: rgb(0, 0, 0);
}

#btn-search:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}

.hasil-khodam {
    margin: 10px;
    padding: 2px 10px;
    color: white;
    text-shadow: rgb(0, 0, 0) 2px 2px;
    font-weight: bold;
    font-size: larger;
}

p{
    font-size: 1.2rem;
}