body {
    font-family: 'Arial', sans-serif;
    background-color: #ffe6e6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

body::before {
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-image: url('./2.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    z-index: -1;
    filter: blur(3px);
}

.container {
    background-color: rgba(255, 177, 177, 0.753);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

h1 {
    color: #ffffff;
}
input {
    height: 20px;
    width: 100%;
    font-size: 1rem;
    padding: 10px 0px;
    margin: 10px 0;
    border: 1px solid #ffb3b3;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #be0000;
}
#result {
    margin-top: 20px;
    font-size: 18px;
}
.loading {
    display: none;
    margin-top: 20px;
}
.heart {
    font-size: 30px;
    animation: pulse 1s infinite;
}
@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}