  /* CSS untuk tampilan game */
.induk{
    background-color: azure;
}

  .title {
    padding: 5px;
    color: blue;
}
body {
background-color: #000;
font-family: Arial, sans-serif;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
margin: 0;
}

canvas {
background-color: rgb(231, 255, 12);
border-radius: 5px;
border: 2px solid;
}
.container{
    background-color: darkgray;
    width: 600px;
    height: 600px;
    border: 5px, 5px, 5px, 5px, solid;
    border-color: bisque;
    text-align: center;
    position: relative;
    border-radius: 5px;
}
